.header {
    padding: 17px 0;
    background: #E5E5E5;
}

.header__nav__list {
    text-align: center;
    font-size: 0;
}

.header__nav__item {
    display: inline-block;
    margin: 0 15px
}

.header__nav__item > a {
    color: #333333;
    text-decoration: none;
    transition: all .3s ease-in-out;
    border-bottom: 1px transparent;
}

.header__nav__item > a:hover {
    border-bottom: 1px solid;
    filter: drop-shadow(2px 3px 4px black);
}
