.top__section {
    padding: 20px 0;
}

.logo {
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    opacity: 0.5;
}

.logo > img {
    margin-right: 20px;
}

.logo > span {
    font-size: 36px;
    line-height: 83px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    display: block;
    float: right;
    text-transform: uppercase;
}

.contacts__phone {
    font-size: 16px;
    line-height: 83px;
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}

.contacts__button {
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    padding: 10px 26px 9px 27px;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

.contacts__button:hover {
    background: #F13C6E;
    color: #FFFFFF;
}

.border {
    border: 1px solid #EFEFEF;
}

.categories__section {
    padding: 30px 0;
}

.category__list {
    text-align: center;
    font-size: 0;
}

.category__item {
    display: inline-block;
    margin: 0 20px
}

.category__item > a {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px transparent;
    transition: all 0.3s ease-in-out;
}

.category__item > a:hover {
    border-bottom: 1px solid black;
    filter: drop-shadow(2px 4px 6px black);
}

.slider {
    background: url("../img/chair.png");
    height: 604px;
    width: 100%;
    background-position-x: 50%;
    padding: 192px 0;
}

h1 {
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.slider__text{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.slider__button {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 12px 43px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.slider__button:hover {
    background: #FFFFFF;
    color: #F13C6E;
}